<div *ngIf="!loading"
  id="banner"
  class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-padding"
  [style.background-image]="
    'url(http://localhost:1337' + data.articles[0].image.url + ')'
  "
  uk-img
>
  <h1 >{{ data.articles[0].title }}</h1>
</div>

<div *ngIf="!loading" class="uk-section">
  <div class="uk-container uk-container-small">
    <p>
      <markdown ngPreserveWhitespaces>
        {{ data.articles[0].content }}
      </markdown>
    </p>
    <p></p>
  </div>
</div>
