<div *ngIf="!loading" class="uk-section">
  <div class="uk-container uk-container-large">
    <h1>{{ category }}</h1>
    <div class="uk-child-width-1-2" uk-grid>
      <div>
        <a routerLink="/article/{{ article.slug }}" routerLinkActive="active" *ngFor="let article of leftArticles"
          class="uk-link-reset">
          <div class="uk-card uk-card-muted">
            <div *ngIf="article.image" class="uk-card-media-top">
              <img src="http://localhost:1337{{ article.image.url }}" alt="" height="100" />
            </div>
            <div class="uk-card-body">
              <p id="category" *ngIf="article.category" class="uk-text-uppercase">
                {{ article.category.name }}
              </p>
              <p id="title" class="uk-text-large">{{ article.title }}</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <a routerLink="/article/{{ article.slug }}" routerLinkActive="active" *ngFor="let article of rightArticles"
            class="uk-link-reset">
            <div class="uk-card uk-card-muted">
              <div *ngIf="article.image" class="uk-card-media-top">
                <img src="http://localhost:1337{{ article.image.url }}" alt="" height="100" />
              </div>
              <div class="uk-card-body">
                <p id="category" *ngIf="article.category" class="uk-text-uppercase">
                  {{ article.category.name }}
                </p>
                <p id="title" class="uk-text-large">{{ article.title }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
